@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.hero{
  background: url("../styles/background2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;

}




/* ANIMATIONS */

.fadeInOne{
  -webkit-animation: fadeInOne 1.2s both;
  -moz-animation: fadeInOne 1.2s both;
  -o-animation: fadeInOne 1.2s both;
  animation: fadeInOne 1.2s both;
}
@-webkit-keyframes fadeInOne{
  0%{
      opacity: 0;
      -webkit-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -webkit-transform: translateY(00px);
  }
}
@-moz-keyframes fadeInOne{
  0%{
      opacity: 0;
      -moz-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -moz-transform: translateY(00px);
  }

}
@-o-keyframes fadeInOne{
  0%{
      opacity: 0;
      -o-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -o-transform: translateY(00px);
  }

}
@keyframes fadeInOne{
  0%{
      opacity: 0;
      transform: translateY(100px);
  }
  100%{
      opacity: 1;
      transform: translateY(00px);
  }

}


.fadeInTwo{

  -webkit-animation: fadeInTwo 1.2s both;

  -moz-animation: fadeInTwo 1.2s both;

  -o-animation: fadeInTwo 1.2s both;

  animation: fadeInTwo 1.2s both;

  -webkit-animation-delay: .2s;

  -moz-animation-delay: .2s;

  -o-animation-delay: .2s;

  animation-delay: .2s;



}
@-webkit-keyframes fadeInTwo{
  0%{
      opacity: 0;
      -webkit-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -webkit-transform: translateY(00px);
  }
}
@-moz-keyframes fadeInTwo{
  0%{
      opacity: 0;
      -moz-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -moz-transform: translateY(00px);
  }

}
@-o-keyframes fadeInTwo{
  0%{
      opacity: 0;
      -o-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -o-transform: translateY(00px);
  }

}
@keyframes fadeInTwo{
  0%{
      opacity: 0;
      transform: translateY(100px);
  }
  100%{
      opacity: 1;
      transform: translateY(00px);
  }

}

.fadeInThree{

  -webkit-animation: fadeInThree 1.2s both;

  -moz-animation: fadeInThree 1.2s both;

  -o-animation: fadeInThree 1.2s both;

  animation: fadeInThree 1.2s both;

  -webkit-animation-delay: .4s;

  -moz-animation-delay: .4s;

  -o-animation-delay: .4s;

  animation-delay: .4s;



}
@-webkit-keyframes fadeInThree{
  0%{
      opacity: 0;
      -webkit-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -webkit-transform: translateY(00px);
  }
}
@-moz-keyframes fadeInThree{
  0%{
      opacity: 0;
      -moz-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -moz-transform: translateY(00px);
  }

}
@-o-keyframes fadeInThree{
  0%{
      opacity: 0;
      -o-transform: translateY(100px);
  }
  100%{
      opacity: 1;
      -o-transform: translateY(00px);
  }

}
@keyframes fadeInThree{
  0%{
      opacity: 0;
      transform: translateY(100px);
  }
  100%{
      opacity: 1;
      transform: translateY(00px);
  }

}

.container {
  padding-top: 5%;
}
 
 .chevron {
   /* position: absolute; */
   /* width: 2.5em; */
   height: 0.48em;
   opacity: 0;
   transform: scale(0.3);
   animation: move-chevron 3s ease-out infinite;
 }
 
 .chevron:first-child {
   animation: move-chevron 3s ease-out 1s infinite;
 }
 
 .chevron:nth-child(2) {
   animation: move-chevron 3s ease-out 2s infinite;
 }
 
 .chevron:before,
 .chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: white;
 }
 
 .chevron:before {
  left: 0;
  transform: skewY(30deg);
 }
 
 .chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
 }
 
 @keyframes move-chevron {
    25% {
      opacity: 1;
   }
    33.3% {
      opacity: 1;
      transform: translateY(2.28em);
   }
    66.6% {
      opacity: 1;
      transform: translateY(3.12em);
   }
    100% {
      opacity: 0;
      transform: translateY(4.8em) scale(0.5);
   }
 }
  
 

/* CONTACT */


#contact {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  margin-top: -20%;
  overflow-x: hidden;
}
#contact > h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 50px;
}



.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 390px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background-color: rgb(165, 165, 252);
  border: 5px solid rgb(165, 165, 252);
}
.fa:hover{
    color:rgb(165, 165, 252);
}
.fa-paper-plane{
    color: white;
}
.form-control{
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    padding: 15px;
    border: 2px solid rgb(197, 197, 197);
}
.alt-send-button {
  width: 70%;
  height: 34px;
  transition: all .2s ease-in-out;
  color: white;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}





.contact-text {
  font: 300 16px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
  font-size: 13px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

input {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .direct-contact-container, .form-horizontal {
    margin: 24px auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }


  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

