@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

#home{
    margin: 0;
    background-color: #141414;
    overflow-x: hidden;
}


/* BACKGROUND */
#background{
    height: 100vh;

}
.hero-background{
    position: absolute;
    z-index: 0;
    max-height: 100vh;
    width: 100vw;
    max-width:100%;  
}



/* LOGO */
.logo-container:hover{
    cursor: pointer;
}
.logo{
    position: absolute;
    z-index: 100;
    width: 200px;
    padding: 2% 5%;
}



/* HERO */
.hero{
    text-align: center;
    position: relative;
    margin: 0;
    line-height: 0;
    padding-top: 30vh;
}
.hero >h1{
    font-size: 12vw;
    color:rgb(255, 255, 255);
}
.hero> h2{
    font-size: 1.5vw;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    letter-spacing: .1em;
}


/* NAVBAR */
.navbar{
    display: flex;
    position: absolute;
    z-index: 1;
    text-align: right;
    padding: 0 26vw;
    padding-top:.5vw;
    padding-bottom: .5vw;
    color: white;

}


.navbar-item{ 
    width: 10vw;
    transition: 300ms;
}
.navbar-item:hover{ 
    cursor: pointer;
}
.navbar-item > p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    margin: 9px;

}
.navbar-item > a {
    text-decoration: none;
}
.navbar-item > a > h6{
    margin: 0;
    text-decoration: none;
    color: white;
    
    line-height: 0px;
    font-size: 15px;
}
.navbar-item > a > h6:active{
    text-decoration: none;
}
.navbar-item > a > h6:visited{
    text-decoration: none;
}




.container {
 display: flex;
 position: relative;
 padding-top: 10%;
 justify-content: center;
 align-items: center;
}

.chevron {
  position: absolute;
  width: 2.5em;
  height: 0.48em;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: white;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
	 25% {
		 opacity: 1;
	}
	 33.3% {
		 opacity: 1;
		 transform: translateY(2.28em);
	}
	 66.6% {
		 opacity: 1;
		 transform: translateY(3.12em);
	}
	 100% {
		 opacity: 0;
		 transform: translateY(4.8em) scale(0.5);
	}
}
 




/* MY SKILLS */

#skills{
    position: relative;
    color: white;
    padding: 0% 0 10% 0;
    height: fit-content;
    font-size: 40px;

}
#skills > h1{
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 7vw;
}

.skills-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap:4px;
    grid-row-gap: 0px;
    margin: 2% 18%;

    

}


.skills-box-item{
    border: 4px solid rgb(197, 197, 197);
    margin-left: -12px;
}

.skills-box-icon{
    padding-right: 30px;
    font-size: 2.5vw;
}
.skills-box-item-first{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}
.skills-box-item-first > h6{
    font-weight: normal;
    font-family: "Lato";

    font-size: 1.8vw;
    line-height: 1.9vw;
    margin: 25px 0;
}
.skills-box-item-first > h6 > span{
    text-decoration: underline;
    text-decoration-color: pink;
    text-decoration-thickness: .4vw;
}
.second > h6 > span{
    text-decoration-color: lightblue;
}

   
.third > h6 > span{
    text-decoration-color: rgb(220, 247, 220);
}

.skills-box-item-second{
    position: relative;
    display:flex;
    padding: 0 10% 0 5%;
    align-items: center;
    margin-top: -1vw;
}
.skills-box-item-second > h6{
    font-weight: lighter;
    font-size: 1.1vw;

    margin: 0;
    font-family: monospace;
    color: rgb(218, 216, 216);
}
.prefix-rod{
    padding-right: 1vw;
    color: lightgray;
    opacity: .5;
    margin:0;
}
.prefix-rod > p{
    font-size: 7vw;
    line-height: 0;
    transform: scaleX(0.2);
    margin: -30px 0 5px 0;
}
.prefix-rod > h6{
    line-height: 0;

    font-size: 1vw;

}
.code-snippet{
    text-align: center;
    position: relative;
    z-index: 0;
    top: 2%;
    opacity: 0.2;
}
.code-snippet >img {
    margin-top: -10%;
    width: 40vw;
}

/* PROJECTS */
.projects-hero{
    display: flex;
    width: 70vw;
    margin: -10% auto 0 auto;
    padding-bottom: 10%;
    justify-content: center;
    align-items: center;
}
.projects-left{
    color: white;
}
.projects-left >h1{
    font-size: 6vw;
    font-family: "Lato", sans-serif;
}

.projects-left >h3{
    font-size: 1.3vw;
    font-weight: 200;
    font-family: monospace;
    
}

.projects-right > img{
    width: 40vw;
    position: relative;
    margin-top: 20%;
    margin-bottom: 0;
}
.featured-project{
    margin-top: -20%;
    margin-left: -70%;
    position: relative;
    text-align :center;
    color: white;
    font-family: monospace;
}
.featured-project > img {
    width: 8vw;
    transform: scaleY(-1) rotate(15deg);
    margin-bottom: 5%;
    margin-right: 2%;

}
.featured-project > h2{
    font-size: 1.5vw;
    margin: 0;
    line-height: 0;
    font-family: "Lato", sans-serif;
}
.featured-project > h3{
    font-size: 2.5vw;
    line-height: 0;
    letter-spacing: 0.05em;
}
.featured-project > a >button {
    border: none;
    border-radius: .1vw;
    padding: 1vw 1.5vw;
    background-color: rgb(165, 165, 252);
    font-size: 1vw;
    font-family: monospace;
}
.featured-project > a >button:hover {
    background-color: rgb(111, 111, 182);
}


/* PROJECTS DISPLAY */


.projects-display {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(8, 1fr);
grid-column-gap: 1vw;
grid-row-gap: 1vw;
padding: 0 16%;
}

.projects-display-item{
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
}

.projects-display-item > div{
    
}

.projects-display-item > img {
    max-width: 100%;
    min-width: 100%;
    min-height: 60%;
    max-height: 60%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.projects-display-content {
    font-family: "Lato", sans-serif;
    padding: 30px 50px 0px 50px;

}

.projects-display-content > h4{
    font-size: 1.6vw;
    margin: 10px;
    color: white;
}

.projects-display-content > p{
    font-size: 0.8vw;
    margin:10px 10px;
    color: rgb(179, 179, 179);
}

.big-projects-display-content > h4{
    font-size: 2vw;
    margin-top: -10px;
}
.big-projects-display-content > p{
    font-size: 1vw;
    margin-bottom: 1vw;
}

.projects-display-hover-content{
    padding: 0px 60px; 
    color: rgb(179, 179, 179);
}
.projects-display-hover-content > a > button {
    background-color: rgb(165, 165, 252);
    padding: 0.5vw;
    color: black;
    font-family: monospace;
    font-size: 0.5vw;
    margin-right: 10px;

    border: none;
    border-radius: 5px;
    transition: 200ms;
    margin-bottom: 10px;
    
}
.projects-display-hover-content > a > button:hover{
    background-color: rgb(111, 111, 182);
}
.big-demo-button{
    font-size: 1vw !important;
    padding: 1vw !important;
    margin-bottom: 20px;

}
.div1 {
     grid-area: 1 / 1 / 3 / 3; 
     color: white;
    }

.div2 { grid-area: 1 / 3 / 3 / 5; }
.div3 { grid-area: 1 / 5 / 3 / 7; }
.div4 { grid-area: 3 / 1 / 6 / 5; }
.div5 { grid-area: 3 / 5 / 5 / 7; }


/* MISC */
.hover{
    color: rgb(226, 226, 226);
}

.border{
    height: 10px;
    background-color: white;
    position: relative;
}
button:hover{
    cursor:pointer;
}



/* CONTACT */


#contact {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  margin-top: -20%;
  overflow-x: hidden;
}
#contact > h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 50px;
}
.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-decoration: underline;
  text-decoration-color: rgb(165, 165, 252);
  text-decoration-thickness: 10px;

}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 390px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background-color: rgb(165, 165, 252);
  border: 5px solid rgb(165, 165, 252);
}
.fa:hover{
    color:rgb(165, 165, 252);
}
.fa-paper-plane{
    color: white;
}
.form-control{
    width: 90%;
    margin: 5px 0;
    border-radius: 5px;
    padding: 15px;
    border: 2px solid rgb(197, 197, 197);
}
.alt-send-button {
  width: 90%;
  height: 34px;
  transition: all .2s ease-in-out;
  color: white;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 16px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
  font-size: 13px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

input {
  border-color: rgba(255,255,255,.6);
}

/* ANIMATIONS */

.fadeInOne{
    -webkit-animation: fadeInOne 1.2s both;
    -moz-animation: fadeInOne 1.2s both;
    -o-animation: fadeInOne 1.2s both;
    animation: fadeInOne 1.2s both;
}
@-webkit-keyframes fadeInOne{
    0%{
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(00px);
    }
}
@-moz-keyframes fadeInOne{
    0%{
        opacity: 0;
        -moz-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(00px);
    }

}
@-o-keyframes fadeInOne{
    0%{
        opacity: 0;
        -o-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(00px);
    }

}
@keyframes fadeInOne{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(00px);
    }

}


.fadeInTwo{

    -webkit-animation: fadeInTwo 1.2s both;

    -moz-animation: fadeInTwo 1.2s both;

    -o-animation: fadeInTwo 1.2s both;

    animation: fadeInTwo 1.2s both;

    -webkit-animation-delay: .2s;

    -moz-animation-delay: .2s;

    -o-animation-delay: .2s;

    animation-delay: .2s;



}
@-webkit-keyframes fadeInTwo{
    0%{
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(00px);
    }
}
@-moz-keyframes fadeInTwo{
    0%{
        opacity: 0;
        -moz-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(00px);
    }

}
@-o-keyframes fadeInTwo{
    0%{
        opacity: 0;
        -o-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(00px);
    }

}
@keyframes fadeInTwo{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(00px);
    }

}

.fadeInThree{

    -webkit-animation: fadeInThree 1.2s both;

    -moz-animation: fadeInThree 1.2s both;

    -o-animation: fadeInThree 1.2s both;

    animation: fadeInThree 1.2s both;

    -webkit-animation-delay: .4s;

    -moz-animation-delay: .4s;

    -o-animation-delay: .4s;

    animation-delay: .4s;



}
@-webkit-keyframes fadeInThree{
    0%{
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(00px);
    }
}
@-moz-keyframes fadeInThree{
    0%{
        opacity: 0;
        -moz-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(00px);
    }

}
@-o-keyframes fadeInThree{
    0%{
        opacity: 0;
        -o-transform: translateY(100px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(00px);
    }

}
@keyframes fadeInThree{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(00px);
    }

}


/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }


  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}


/* RESPONSIVE */

@media only screen and (max-width: 1400px) {
    
    .hero-background {
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
    object-fit: cover;
    }

    .navbar{
    padding-left: 15vw;

    }

    .navbar-item{ 
        width: 15vw;
    }
    .navbar-item > p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6px;

    }
    .navbar-item > h6{
        margin: 0;
        font-size: 10px;
        line-height: 0px;

    }



    .skills-box{

        margin: 2% 3%;


    }
    .skills-box-item-second > h6{

        font-size: 1.6vw;


    }

    .projects-left >h1{
        font-size: 6vw;
        font-family: "Lato", sans-serif;
    }

    .projects-left >h3{
        font-size: 1.5vw;
    }
    .projects-right > img {
        width: 50vw;
    }


        
    .projects-display {
        display: flex;
        flex-direction: column;
        padding: 0 25%;
    }
    .big-demo-button{
        font-size: 0.5vw !important;
        padding: 0.5vw !important;
    }


    .projects-display-content {
        font-family: "Lato", sans-serif;
        padding: 0px 20px 0px 20px;

    }
    .projects-display-hover-content{
        padding: 0 30px;
    }
    .projects-display-content > h4{
        font-size: 2vw;
        margin: 10px;
        color: white;
    }

    .projects-display-content > p{
        font-size: 1vw;
        margin:10px 10px;
        color: rgb(179, 179, 179);
    }

    .big-projects-display-content > h4{
        font-size: 2vw;
        margin: 10px;
        color: white;
    }
    .big-projects-display-content > p{
        font-size: 1vw;
        margin:10px 10px;
        color: rgb(179, 179, 179);
    }
    .projects-display-hover-content > a > button {

        padding: 1w;

        font-size: 1w;

        
    }
    #contact{
        margin-top: 10%;
    }

}



@media only screen and (max-width: 750px) {
    .skills-box{
        grid-template-columns: repeat(1, 1fr);
        }
        
    .skills-box-item{
        border-bottom: 4px solid rgb(197, 197, 197);

    }
    .right-skills-box{
        border-bottom: none;
    }
    .skills-box-icon{
        padding-right: 30px;
        font-size: 12vw;
    }
    .skills-box-item-first{
        justify-content: left;
        padding-left: 10%;

    }
    .skills-box-item-first > h6{
        font-size: 6vw;
        line-height: 8vw;

    }
    .skills-box-item-first > h6 > span{
        text-decoration-thickness: 2vw;
    }
    .second > h6 > span{
        text-decoration-color: lightblue;
    }
    .third > h6 > span{
        text-decoration-color: rgb(220, 247, 220);
    }

    .skills-box-item-second{

        margin-top: -5vw;
        padding-bottom: 5%;
    }
    .skills-box-item-second > h6{
        font-weight: lighter;
        font-size: 2vw;


    }

    .prefix-rod > p{
        font-size: 10vw;

    }
    .prefix-rod > h6{
        line-height: 0;

        font-size: 1.3vw;

    }
    .code-snippet >img {
        width: 80vw;
    }


    .projects-hero {
        display: block;
        width: 90vw;
    }
    .projects-left > h1{
        font-size: 10vw;
    }
    .projects-left > h3 {
        font-size: 3vw;
    }
    .projects-right {
        margin-top: -20%;
    }
    .projects-right > img {
        width: 90vw;
    }
    .featured-project > img{
        width: 15vw;
        margin-right: 5%;
    }
    .featured-project > h2{
        font-size: 3vw;
    }
    .featured-project > h3{
        font-size: 5vw;
    }
    .featured-project > a > button {
        font-size: 3vw;
        border-radius: 10px;
        padding: 2vw 3vw;
    }
    
}
@media only screen and (max-width: 400px) {
    .navbar{
    padding-left: 0vw;
    }

    .navbar-item{ 
        width: 22vw;
    }
    .navbar-item > p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5px;

    }
    .navbar-item > h6{
        margin: 0;
        font-size: 8px;
        line-height: 0px;

    }

 

}